:root {
  --max-width: 1060px;
  --main-font: "Source Sans Pro", sans-serif;
  --semi-bold: 600;
  --main-line-height: 1.21;
  --hign-line-height: 1.57;
  --low-line-heigth: 1.08;
  --main-font-size: 14px;
  --emphasis-font-size: 15px;
  --insignificant-font-size: 13px;
  --cart-color: #f7f7f7;
  --discount-color: #00905e;
  --game-title-color: #212121;
  --price-color: rgba(64, 64, 64, 0.75);
  --border-separation-color: rgba(0, 0, 0, 0.08);
  --button-border-radius: 3px;
  --price-opacity: 0.75;
}

* {
  box-sizing: border-box;
}

.app {
  background: #c2c2c2;
  background-image: linear-gradient(
    to bottom,
    rgba(108, 54, 173, 0.1),
    #c2c2c2
  );
  min-height: 100vh;
  font-family: var(--main-font);
  line-height: var(--main-line-height);
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

.btn {
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--semi-bold);
}

.small-spot {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  max-height: 185px;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.small-spot:last-child {
  margin-right: 0;
}

.small-spot__image {
  display: block;
  max-height: 110px;
  width: 100%;
}

.small-spot__info {
  flex: 1 1 auto;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px 8px 8px 9px;
}

.small-spot__info__title {
  margin: 0;
  font-weight: var(--semi-bold);
  font-size: var(--main-font-size);
  color: var(--game-title-color);
}

.small-spot__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.small-spot__btn {
  font-size: var(--insignificant-font-size);
  font-weight: var(--semi-bold);
  color: var(--price-color);
  border: solid 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
  min-width: 52px;
  height: 22px;
  opacity: var(--price-opacity);
}

.small-spot__btn--disabled {
  opacity: 0.25;
}

.small-spot__discount {
  width: 44px;
  height: 24px;
  margin-right: 6px;
  background-color: var(--discount-color);
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--insignificant-font-size);
  font-weight: var(--semi-bold);
  border-radius: var(--button-border-radius);
}
