:root {
  --max-width: 1060px;
}

* {
  box-sizing: border-box;
}

.app {
  background: #c2c2c2;
  height: 100vh;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

.menu {
  height: 56px;
  background:#dedede;
}

.menu__logo {
  height: 32px;
  width: 39px;
  background: url('./assets/logo-classic@2x.png');
  background-size: cover;
}

.menu__container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  width: 56px;
  height: 56px;
}

.big-spot {
  margin-bottom: 20px;
}

.big-spot__btn {
  height: 370px;
  width: 100%;
  background: url('./assets/game-spot@2x.png');
  background-size: cover;
}

.small-spots {
  display: flex;
  justify-content: space-between;
}

.small-spot {
  max-width: 196px;
  max-height: 185px;
  margin-right: 5px;
}

.small-spot:last-child {
  margin-right: 0;
}

.small-spot__image {
  max-height: 110px;
  width: 100%;
}