:root {
  --max-width: 1060px;
}

* {
  box-sizing: border-box;
}

.app {
  background: #c2c2c2;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

.menu {
  height: 56px;
  background:#dedede;
}

.menu__logo {
  height: 32px;
  width: 39px;
  background: url('./assets/logo-classic@2x.png');
  background-size: cover;
}

.menu__container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  width: 56px;
  height: 56px;
}

.big-spot__btn {
  height: 370px;
  width: 100%;
  background: url('./assets/game-spot@2x.png');
  background-size: cover;
}
